@{
    ViewBag.Title = "Contacta con OpenBasculaNet";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    COLÓN INFORMÁTICA Y ACCESORIOS<br />
    C/Colón nº8 CP 47005 (Valladolid)<br />
    <abbr title="Phone">Tlf:</abbr>
    650 204 552
</address>

<address>
    <strong>Sistemas:</strong> <a href="mailto:colon@sic.es">colon@sic.es</a><br />
    <strong>Desarrollo:</strong>   <a href="mailto:fer.d.minguela@gmail.com">fer.d.minguela@gmail.com</a>
</address>