@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>OpenBasculaNet</h1>
    <p class="lead">OpenBasculaNet es una aplicacion para uso en garitas de pesaje de codigo abierto.</p>
    <p><a href="https://arkadoel.github.io/openBasculaNet/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

