
@{
    ViewBag.Title = "Principal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2></h2>
<div class="row col-md-12">
    <button type="button" class="col-md-2 btn btn-default "><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>GUARDAR</button>
    <button type="button" class="col-md-2 btn btn-default "><span class="glyphicon glyphicon-inbox" aria-hidden="true"></span>EN TRANSITO</button>
</div>
<hr />
<div class="row col-md-12">
    <label class="col-md-2">CABINA</label>
    <input type="text" class="col-md-3" id="txtCabina" />
    <label class="col-md-offset-2 col-md-2">REMOLQUE</label>
    <input type="text" class="col-md-3" id="txtRemolque" />
</div>
<div class="row col-md-12">
    <label class="col-md-offset-7 col-md-2">ENTRADA</label>
</div>
<div class="row col-md-12">
    <label class="col-md-2">PRODUCTO</label>
    <input type="text" class="col-md-9" id="txtProducto" />
    <button type="button" class="col-md-1 btn btn-default "><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
</div>
<div class="row col-md-12">
    <label class="col-md-2">CLIENTE</label>
    <input type="text" class="col-md-9" id="txtCLIENTE" />
    <button type="button" class="col-md-1 btn btn-default "><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
</div>
<div class="row col-md-12">
    <label class="col-md-2">PROVEEDOR</label>
    <input type="text" class="col-md-9" id="txtPROVEEDOR" />
    <button type="button" class="col-md-1 btn btn-default "><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
</div>
<div class="row col-md-12">
    <label class="col-md-2">AGENCIA</label>
    <input type="text" class="col-md-9" id="txtAGENCIA" />
    <button type="button" class="col-md-1 btn btn-default "><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
</div>
<div class="row col-md-12">
    <label class="col-md-2">POSEEDOR</label>
    <input type="text" class="col-md-9" id="txtPOSEEDOR" />
    <button type="button" class="col-md-1 btn btn-default "><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
</div>
<div class="row col-md-12">
    <label class="col-md-2">CONDUCTOR</label>
    <input type="text" class="col-md-9" id="txtCONDUCTOR" />
    <button type="button" class="col-md-1 btn btn-default "><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
</div>
<div class="row col-md-12">
    <label class="col-md-2">ORIGEN</label>
    <input type="text" class="col-md-9" id="txtORIGEN" />
    <button type="button" class="col-md-1 btn btn-default "><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
</div>
<div class="row col-md-12">
    <label class="col-md-2">DESTINO</label>
    <input type="text" class="col-md-9" id="txtDESTINO" />
    <button type="button" class="col-md-1 btn btn-default "><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
</div>
<div class="row col-md-12">
    <label class="col-md-2">kg. ENTRADA</label>
    <input type="text" class="col-md-9" id="txtPesoEntrada" />    
</div>
<div class="row col-md-12">
    <label class="col-md-2">kg. SALIDA</label>
    <input type="text" class="col-md-9" id="txtPesoSalida" />    
</div>
<div class="row col-md-12">
    <label class="col-md-2">NETO</label>
    <input type="text" class="col-md-9" id="txtPesoNeto" />
</div>