
@{
    ViewBag.Title = "Principal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2></h2>
<input type="hidden" id="hdfIdTransito" name="hdfIdTransito" value="-1" />
<div class="row  margin-arriba">
    <button type="button" class="col-md-2 btn btn-default btn-openBascula  " onclick="GuardarTransito()"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>&nbsp; GUARDAR</button>
    
    <button type="button" class="col-md-offset-1 col-md-2 btn btn-default btn-openBascula" onclick="verEnTransito()"><span class="glyphicon glyphicon-inbox" aria-hidden="true"></span>&nbsp; EN TRANSITO</button>
</div>
<hr />
<div class="row  margin-arriba">
    <label class="col-md-2">CABINA</label>
    <input type="text" class="col-md-3 text-uppercase" id="txtCabina" />
    <label class="col-md-offset-2 col-md-2">REMOLQUE</label>
    <input type="text" class="col-md-3 text-uppercase" id="txtRemolque" />
</div>
<div class="row  margin-arriba">
    <label class="col-md-offset-7 col-md-1">ENTRADA</label>
    <button type="button" class="col-md-1 btn btn-default btn-openBascula" onclick="PonerHoraEntrada()">
        <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    </button>
    <!--<div id="dtp_fecha_entrada" class='input-group date col-md-3' data-dbvalue="null">
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
        <input type='text' class="datepicker form-control" id="dtp_fecha_entrada_value" />
    </div>
    -->
    <input type="text" class="col-md-3 text-uppercase" id="txtEntrada"  />   
</div>
<div class="row  margin-arriba">
    <label class="col-md-2">PRODUCTO</label>
    <input type="text" class="col-md-9 text-left" id="txtProducto" />
    <button type="button" class="col-md-1 btn btn-default  btn-openBascula"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
</div>
<div class="row  margin-arriba">
    <label class="col-md-2">CLIENTE</label>
    <input type="text" class="col-md-9" id="txtCLIENTE" />
    <button type="button" class="col-md-1 btn btn-default  btn-openBascula"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
</div>
<div class="row  margin-arriba">
    <label class="col-md-2">PROVEEDOR</label>
    <input type="text" class="col-md-9" id="txtPROVEEDOR" />
    <button type="button" class="col-md-1 btn btn-default  btn-openBascula"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
</div>
<div class="row  margin-arriba">
    <label class="col-md-2">AGENCIA</label>
    <input type="text" class="col-md-9" id="txtAGENCIA" />
    <button type="button" class="col-md-1 btn btn-default  btn-openBascula"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
</div>
<div class="row  margin-arriba">
    <label class="col-md-2">POSEEDOR</label>
    <input type="text" class="col-md-9" id="txtPOSEEDOR" />
    <button type="button" class="col-md-1 btn btn-default  btn-openBascula"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
</div>
<div class="row  margin-arriba">
    <label class="col-md-2">CONDUCTOR</label>
    <input type="text" class="col-md-9" id="txtCONDUCTOR" />
    <button type="button" class="col-md-1 btn btn-default  btn-openBascula"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
</div>
<div class="row  margin-arriba">
    <label class="col-md-2">ORIGEN</label>
    <input type="text" class="col-md-9" id="txtORIGEN" />
    <button type="button" class="col-md-1 btn btn-default  btn-openBascula"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
</div>
<div class="row  margin-arriba">
    <label class="col-md-2">DESTINO</label>
    <input type="text" class="col-md-9" id="txtDESTINO" />
    <button type="button" class="col-md-1 btn btn-default  btn-openBascula"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
</div>
<div class="row  margin-arriba">
    <label class="col-md-2">kg. ENTRADA</label>
    <input type="text" class="col-md-3" id="txtPesoEntrada" />    
</div>
<div class="row  margin-arriba">
    <label class="col-md-2">kg. SALIDA</label>
    <input type="text" class="col-md-3" id="txtPesoSalida" />    
</div>
<div class="row  margin-arriba">
    <label class="col-md-2">NETO</label>
    <input type="text" class="col-md-3" id="txtPesoNeto" />
</div>

<script type="text/javascript">
        var ESTADO_GUARDADO = "FIN";

        window.onload = thisEndLoad;
        function thisEndLoad() {          

            /*iniciamos el resto de valores*/
            $('[id*="dtp_"]').each(function () {
                if ($(this).attr('id').indexOf('_value') == -1) {
                    var idFecha = '#' + $(this).attr('id');
                    // $(idFecha).data("DateTimePicker").locale('es');
                    if ($(idFecha).data('dbvalue') !== '') {
                        var fecha = dateOrNull($(idFecha).data('dbvalue'));
                        setFechaPara(idFecha, fecha);
                    }
                    else setFechaPara(idFecha, null);
                }
            });
        }

        function verEnTransito() {
            var url = "/Home/VehiculosEnTransito";
            LaunchModal('Vehiculos en transito', url);
        }

        function cargarTransitoDesdeJSON(data) {
            $('#hdfIdTransito').val(data.ID_TRANSITO);
            $('#txtCabina').val(data.MAT_CABINA);
            $('#txtRemolque').val(data.MAT_REMOLQUE);
            $('#txtEntrada').val(getDateWithTime(data.FECHA_ENTRADA));
            $('#txtPesoEntrada').val(data.BRUTO);
            $('#txtPesoSalida').val(data.TARA);
            $('#txtPesoNeto').val(data.NETO);

            $('#txtPRODUCTO').val(data.ID_PRODUCTO);
        }

        function GuardarTransito() {
            var jsonTransito = {
                "ID_TRANSITO": $('#hdfIdTransito').val(),
                "NUM_ALBARAN": null,
                "MAT_CABINA": $('#txtCabina').val(),
                "MAT_REMOLQUE": $('#txtRemolque').val(),
                "FECHA_ENTRADA": null,
                "FECHA_SALIDA": null,
                "BRUTO": $('#txtPesoEntrada').val(),
                "TARA": $('#txtPesoSalida').val(),
                "NETO": $('#txtPesoNeto').val(),
                "IVA_APLICABLE": null,
                "IMPORTE_FINAL": null,
                "IMPORTE_PRODUCTO": null,
                "ID_PRODUCTO": null,
                "ID_CLIENTE": null,
                "ID_PROVEEDOR": null,
                "ID_AGENCIA": null,
                "ID_POSEEDOR": null,
                "ID_CONDUCTOR": null,
                "ORIGEN": null,
                "DESTINO": null
            };

            console.log(JSON.stringify(jsonTransito));
            $.ajax({
                type: "PUT",
                url: '/API/openBascula/GuardarTransito?fechaEntrada=' + $('#txtEntrada').val(),
                data: jsonTransito,
                async: true,
                dataType: "json",
                headers: {
                    "Accept": "application/json"
                },
                success: function (data) {
                    if (data === true) {
                        LaunchModalMensajes("Guardado correcto", "Guardado");
                        $('#hdfIdTransito').val(-1);
                    }
                    else {
                        //error
                        LaunchModalMensajesError("Error al guardar", "Guardado fallido");
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(errorThrown);
                }
            });
        }

        function PonerHoraEntrada() {
            $('#txtEntrada').val(getDateWithTimeNow());
        }
</script>