@using openBasculaNet.Core.Structures;
@{
    ViewBag.Title = "VehiculosEnTransito";
    Layout = "~/Views/Shared/_Layoutiframe.cshtml";
    List<TRANSITO_ACTUALES> transitos = ViewBag.vehiculosEnTransito as List<TRANSITO_ACTUALES>;
}

<div class="row">
    <div class="buscador-transitos col-md-2 ">
        <h3>Buscador <span class="glyphicon glyphicon-search" /></h3>
        <label> Matricula o remolque</label>
        <input type="text" class="col-md-12" id="txtFiltroTexto" />
        <br /><br /><br />
        
        <br />
        <button type="button" class="btn btn-primary btn-openBascula" onclick="buscarTransitos()">BUSCAR</button>
        <br /><br />
        <button type="button" class="btn btn-primary btn-openBascula" onclick="restablecerFiltro()">RESTABLECER</button>

        <br /><br />
    </div>
    <div class="col-md-10" id="wrp-tbl-buscador-transitos">

    </div>

    <hr />
</div>

<script type="text/javascript">
    @*
    var objeto = @Html.Raw(Json.Encode(new TRANSITO_ACTUALES()));
    console.log(JSON.stringify(objeto));
     *@

    var ESTADO_GUARDADO = "FIN";
    parent.$('#btnMyModalAceptar').show();
    window.onload = thisEndLoad;
    function thisEndLoad() {
        /*iniciamos el resto de valores*/
        $('[id*="dtp_"]').each(function () {
            if ($(this).attr('id').indexOf('_value') == -1) {
                var idFecha = '#' + $(this).attr('id');
                //$(idFecha).data("DateTimePicker").locale('es');
                if ($(idFecha).data('dbvalue') !== '') {
                    var fecha = dateOrNull($(idFecha).data('dbvalue'));
                    setFechaPara(idFecha, fecha);
                }
                else setFechaPara(idFecha, null);
            }
        });

        buscarTransitos();
    }

    parent.$('#btnMyModalAceptar').click(function () {
        $('.collapse').collapse("hide");
        $.when($('#spinner').show("fast").delay(1200)).done(cargarTransito());
    });

    function verTransito(idTransito, mat_cabina) {

        $.ajax({
            type: "GET",
            url: '/API/openBascula/VerTransito',
            data: {
                matCabina: mat_cabina,
                idTransito: idTransito
            },
            async: true,
            dataType: "json",
            headers: {
                "Accept": "application/json"
            },
            success: function (data) {
                parent.cargarTransitoDesdeJSON(data);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(errorThrown);
            }
        });
        parent.$('#myModal').modal('toggle');
    }

    function buscarTransitos() {
        $.ajax({
            type: "GET",
            url: '/API/openBascula/GetTransitosTabla',
            data: {
                filtro: $('#txtFiltroTexto').val()
            },
            async: true,
            dataType: "json",
            headers: {
                "Accept": "application/json"
            },
            success: function (data) {
                //console.log(data);
                $.each(data, function (index, value) {
                    data[index].data['FECHA_ENTRADA'] = parent.getDateWithTime(data[index].data.FECHA_ENTRADA);
                });
                pintarTabla(data);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(errorThrown);
            }
        });
    }

    function pintarTabla(dataJson) {
        $('#wrp-tbl-buscador-transitos').empty();
        $('#wrp-tbl-buscador-transitos').append('<table id="tbl-resultados-transitos" data-classes="table table-hover table-condensed"></table>');
        $('#tbl-resultados-transitos').bootstrapTable({
            columns: [{
                field: 'Ver',
                title: 'VER',
                sortable: false
            },
            {
                field: 'data.NUM_ALBARAN',
                title: 'Nº ALBARAN',
                sortable: true
            },
            {
                field: 'data.MAT_CABINA',
                title: 'CABINA',
                sortable: true
            },
            {
                field: 'data.MAT_REMOLQUE',
                title: 'REMOLQUE',
                sortable: true
            },
            {
                field: 'data.FECHA_ENTRADA',
                title: 'ENTRADA',
                sortable: true
            },
            ],
            pagination: true,
            toggle: 'table',
            data: dataJson
        });
    }
    
    </script>

